<!DOCTYPE html>
<html>
<head>
	<title>Digital Uzhavar Sandhai</title>
	
<link rel="stylesheet" type="text/css" href="index-style.css">	
<link href="https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap" rel="stylesheet">

</head>

<body >

	<div id ="WELCOME">WELCOME TO DIGITAL UZHAVAR SANDHAI</div></h1>
	<span id="linebreak"></span>
	<label id="Farmerbutton"><a id = "link" href="farmer.html">FARMER</a></label>
	<label id="RetailShopsbutton"><a id = "link" href="retail.html">RETAILSHOPS</a></label>
<br><br><br><br><br><br><br>
	<footer>
		<div class="footer-content">
			<p>&copy; 2024 Your Company Name. All rights reserved.</p>
			<ul class="footer-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</footer>
	

</body>
</html>
